<mat-toolbar color="primary" class="flex justify-between">
    <a routerLink="/app/movies/home">
        <h1 class="text-3xl bg-black rounded-xl p-2 font-space-grotesk font-bold uppercase">BMovies</h1>
    </a>
    <nav class="gap-3 flex">
        <button class="hidden sm:flex" mat-button [routerLink]="['/app/movies/home']"
            routerLinkActive="bg-black/70">Inicio</button>
        <button class="hidden sm:flex" mat-button [routerLink]="['/app/movies/playing-now']"
            routerLinkActive="bg-black/70">Cartelera</button>
        <button class="hidden sm:flex" mat-button [routerLink]="['/app/movies/most-popular']"
            routerLinkActive="bg-black/70">Más Popular</button>
        <button class="flex sm:hidden" mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/app/movies/home']" routerLinkActive="bg-white/20" class="flex items-center justify-around gap-1">
                <mat-icon>home</mat-icon>
                Inicio
            </button>
            <button mat-menu-item [routerLink]="['/app/movies/playing-now']" routerLinkActive="bg-white/20 " class="flex items-center justify-around gap-1">
                <mat-icon>play_arrow</mat-icon>
                Cartelera
            </button>
            <button mat-menu-item [routerLink]="['/app/movies/most-popular']" routerLinkActive="bg-white/20"  class="flex items-center justify-around gap-1">
                <mat-icon>star</mat-icon>
                Más Popular
            </button>
        </mat-menu>

    </nav>
</mat-toolbar>